<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Frog Archiver</Name>
    <Version>1.0.0</Version>
    <Title>Frog Archiver Installer</Title>
    <Publisher>Bervianto Leo Pratama</Publisher>
    <StartMenuDir>Frog Archiver</StartMenuDir>
    <TargetDir>@HomeDir@/Frog-Archiver</TargetDir>
</Installer>
